<html>
<head>
<title>Number Counter</title>
<head>
</head>
<style>
body {
background: gray;
font-family:"Segoe UI";src:local("Segoe UI"),url(/Content/4.3.00298.0.140414-1951/Fonts/segoeui.ttf)
margin: 50px;
}
</style>

</style>
