body 
{
margin: 20px;
background: gray;
font-family: 'Ruluko', sans-serif;
margin: 50px;
}

<<<<<<< HEAD
.add
=======
.positive
>>>>>>> 3d4a054c078fbb84e0f7ec4f79334370940ab2e1
{
	width: 400px;
	float: left;
	overflow: hidden;
}